@import "bootstrap/scss/bootstrap.scss";

.card-deck {
    justify-content: center;
}

.aocUser {
    cursor: pointer;
    border : 2px solid transparent;
    list-style-type: none;
    width : 400px;
    padding: 5px;
    &.selected {
        border : 2px solid green;
    }
}
@media print {
    .hide-print {
        display: none;
    }
}

@include media-breakpoint-down(xs) {
    html {
        font-size: .7rem;
    }
}